---
layout: archive
title: "Its all about JasperGA!"
permalink: /portfolio/
author_profile: true
---

My interests include deep learning, reinforcement learning, natural language processing, communication systems, embedded, data science, and more. My hobbies include jazz 🎺 and rock music 🎸, graphic design and painting, ball sports and fitness 🏋🏻, drone and hardware design, programming ⚙️, reading, traveling, photography 📸, and more.

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

